QMainWindow, QMenuBar, QMenu, QDialog, QTabWidget, QScrollArea, QGroupBox, QPlainTextEdit
{
    background-color: #F7F9FB;
    color: #687864;
}

QLabel {
    background: transparent;
    color: #687864;
}

QTabWidget QTabBar::tab {
padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;
border: 1px solid #687864;
background-color: #F7F9FB;
color: #687864;
}

QTabWidget QTabBar::tab:selected {
min-height: 10px;
background-color: #9FD1F3;
color: #283824;
border: 1px solid #687864;
}

QTabWidget QTabBar::tab:hover {
background-color: #E7E9EB;
color: #687864;
border: 1px solid #687864;
min-height: 20px
}

QHeaderView { /* Table Header */
background-color:#8FC1E3;
}

QHeaderView::section { /* Table Header Sections */
background-color: #8FC1E3;
color: #283824;
}

QHeaderView::section:last {
border-right: 0px solid #d7d7d7;
}

QScrollArea {
background:transparent;
border:0px;
}

QScrollBar { /* Scroll Bar */

}

QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
border:0;
background:#F7F9FB;
width:18px;
margin: 18px 0px 18px 0px;
}

QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
border:0;
background:#F7F9FB;
height:18px;
margin: 0px 18px 0px 18px;
}


QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
background:#8FC1E3;
min-height:10px;
border: 1px solid #f2f0f0
}

QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
background:#8FC1E3;
min-width:10px;
border: 1px solid #f2f0f0;
}

QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
background:#F7F9FB;
border: 1px solid #f2f0f0;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { /* Define Arrow Button Dimensions */
background-color:#F7F9FB;
color:#27292B;
border: 1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background-color:#F7F9FB;
}

QScrollBar::sub-line:vertical { /* Vertical - top button position */
subcontrol-position:top;
subcontrol-origin: margin;
}

QScrollBar::add-line:vertical { /* Vertical - bottom button position */
subcontrol-position:bottom;
subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal { /* Vertical - left button position */
subcontrol-position:left;
subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal { /* Vertical - right button position */
subcontrol-position:right;
subcontrol-origin: margin;
}

QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { /* Arrows Icon */
width:10px;
height:10px;
}


QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
    background:#F7F9FB;
    alternate-background-color: #E7E9EB;
    color: #687864;
}

QToolBar {
    background-color: #F7F9FB;
    color:#687864;
    border:none
}

QToolBar QToolButton  {
    background-color: #F7F9FB;
    color:#687864;
    border:none
}

QToolButton {
    background-color: #E7E9EB;
    color:#687864;
}

QPushButton  { /* Global Button Style */
    background-color: #E7E9EB;
    border:1px solid #687864;
    border-radius:6px;
    color:#687864;
    font-size:12px;
    font-weight:bold;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    min-height:15px;
    }

QPushButton:hover,
.QPushButton:hover {
    background-color: #9FD1F3;
    color: #687864;
}

QPushButton:focus {
    border:none;
    outline:none;
}

QPushButton:pressed {
    border:1px solid #333;
}

QPushButton:disabled {
    background-color: transparent;
    color: transparent;
    border:none;
}

QStatusBar {
    background: #8FC1E3;
    border: 0;
    color: #687864;
    height: 36px;
    min-height: 36px;
    padding: 0;
}

QMenuBar {
    background-color: #F7F9FB;
    color:#687864;
}

QMenuBar::item {
    background-color:#F7F9FB;
    color: #687864;
}

QMenuBar::item:selected {
    background-color:#E7E9EB;
    color:#687864;
}

QMenu {
    background-color:#F7F9FB;
    color:#687864;
}

QMenu::item {
    background-color:#F7F9FB;
    color:#687864;
}

QMenu::item:selected {
    background-color: #E7E9EB;
    color:#687864;
}


QCheckBox {
    background-color:#F7F9FB;
    color: #687864;
    spacing: 5px;
}

QCheckBox::indicator {
    background-color: #8FC1E3;
    color: #687864;
    width: 8px;
    height: 8px;
    border: 4px solid #8FC1E3;
    border-radius: 8px;
}

QCheckBox::indicator:checked {
    background-color: #687864;
    color: #8FC1E3;
    width: 8px;
    height: 8px;
    border: 4px solid #8FC1E3;
    border-radius: 8px;
}

QAbstractSpinBox#UnitBox
{
    background-color: #E7E9EB;
    color: #687864;
    height: 20px;
}

QFrame#frame
{
    background-color:#F7F9FB;
    border: 1px solid #8FC1E3;
    color: #687864;
}

QFrame#frame_2
{
    background-color:#F7F9FB;
    border: 1px solid #8FC1E3;
    color: #687864;
}

QFrame#frameCoinControl
{
    background-color:#F7F9FB;
    border: 1px solid #8FC1E3;
    color: #687864;
}

QFrame#frameFee
{
    background-color:#F7F9FB;
    border: 1px solid #8FC1E3;
    color: #687864;
}

QFrame#frameResult
{
    background-color:#F7F9FB;
    border: 1px solid #8FC1E3;
    color: #687864;
}

QLineEdit
{
    background-color: #E7E9EB;
    color: #687864;
    border: none;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

QValidatedLineEdit
{
    background-color: #E7E9EB;
    color: #687864;
    border: none;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

QComboBox {
    background-color: #E7E9EB;
    color: #687864;
}

QComboBox QAbstractItemView {
    background-color: #E7E9EB;
    color: #687864;
}

QComboBox::item:selected {
    background-color:#F7F9FB;
    color:#687864;
    padding: 0px;
}

QComboBox::indicator {
  border: none;
  border-radius: 0;
  background-color: transparent;
  selection-background-color: transparent;
  color: transparent;
  selection-color: transparent;
  /* Needed to remove indicator - fix #132 */
}

QValueComboBox {
    background-color: #E7E9EB;
    color: #687864;
}

QValueComboBox QAbstractItemView {
    background-color: #E7E9EB;
    color: #687864;
}

QValueComboBox::item:selected {
    background-color:#F7F9FB;
    color:#687864;
    padding: 0px;
}

QWidget#ShutDown {
    background-color:#F7F9FB;
    color: #687864;
}

QWidget#RPCConsole {
    background-color:#F7F9FB;
    color: #687864;
}

QWidget#bgWidget {
    background: rgba(0,0,0,0.8);
    color: #687864;
}

QWidget#contentWidget {
    background: #F7F9FB;
    color: #687864;
}

QWidget#contentWidget QLabel{
    background: #F7F9FB;
    color: #687864;
}

QPushButton#warningIcon, QPushButton#labelWalletStatus, QPushButton#labelTransactionsStatus  {
    background-color:#F7F9FB;
    border: none;
}
