QMainWindow
{
    color: #000000;
    background-color: rgba(255,255,255,1);
}


QMenuBar {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QMenu {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QMenu::item:selected {
    background-color: #e8f4f8;
}



QToolBar {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QToolBar QToolButton {
    background-color: rgba(245,245,245,1);
    color: #000000;
}

QToolButton {
    background-color: #e8f4f8;
    color: #000000;
}

QPushButton {
    background-color: #e8f4f8;
    color: #000000;
}


QStatusBar
{
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QFrame#frame
{
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QFrame#frame_2
{
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QFrame#frameCoinControl
{
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QFrame#frameFee
{
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QFrame#frameResult
{
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QScrollArea {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QFrame#SendCoins
{
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QFrame#SendCoins QLabel
{
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QLineEdit
{
    background-color: rgba(255,255,255,1);
    border: 1px solid #000000;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #000000;
}

QValidatedLineEdit
{
    background-color: rgba(255,255,255,1);
    color: #000000;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #000000;
}


QAbstractSpinBox#UnitBox
{
    background-color: rgba(255,255,255,1);
    color: #000000;
    border: 1px solid #000000;
    height: 20px;
}

QComboBox
{
    background-color: rgba(255,255,255,1);
    selection-background-color: rgba(255,255,255,1);
    color: #000000;
    border: 1px solid #000000;
}

QComboBox::item:selected
{
    background-color: #e8f4f8;
    color: #000000;
    padding: 0px;
}

QComboBox QAbstractItemView {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QComboBox::indicator {
  border: none;
  border-radius: 0;
  background-color: transparent;
  selection-background-color: transparent;
  color: transparent;
  selection-color: transparent;
  /* Needed to remove indicator - fix #132 */
}

QTableView {
    background-color: rgba(255,255,255,1);
    alternate-background-color: #e8f4f8;
    color: #000000;
}

QHeaderView::section {
    border-top:0px solid #D8D8D8;
    border-left:0px solid #D8D8D8;
    border-right:1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background-color: rgba(225,225,225,1);
    padding:4px;
    border: 1px solid #000000;
}

QTableCornerButton::section {
    border-top:0px solid #D8D8D8;
    border-left:0px solid #D8D8D8;
    border-right:1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background-color: rgba(225,225,225,1);
    border: 1px solid #000000;
}

QWidget#RPCConsole {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QTabWidget {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QDialog#HelpMessageDialog {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QDialog#OptionsDialog {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QDialog#OpenURIDialog {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QDialog#TransactionDescDialog {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QFileDialog {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QMessageBox {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QTextEdit {
    background-color: rgba(225,225,225,1);
    color: #000000;
}

QWidget#bgWidget {
    background: rgba(0,0,0,0.8);
    color: #000000;
}

QWidget#contentWidget {
    background-color: rgba(255,255,255,1);
    color: #000000;
}

QWidget#contentWidget QLabel{
    background-color: rgba(255,255,255,1);
    color: #000000;
}
